{#
- data (object)
    - article_data (object)
        - item_list (array)
            - title
            - summary
            - thumb
        -

#}
{{ attach_library('btw2017/btw-article-detail') }}
<div class="page page-article-detail">

    {% if data.article_data.video_link??false %}
        <section class="hero video">
            <img class="thumb hidden-xs" src="{{ data.article_data.main_banner }}"/>
            <img class="thumb visible-xs" src="{{ data.article_data.top_banner_mobile??'' }}"/>
            <a class="link js-modal-view" href="javascript:void(0);" data-target="#modal" data-type="video" data-url="{{ data.article_data.video_link??'' }}">
            <span class="hero-info">
                <i class="icon icon-play hidden-xs"></i>
                <i class="icon icon-play-mobile visible-xs-inline-block"></i>
            </span>
            </a>
        </section>
    {% else %}
        {% if data.article_data.main_banner %}
            <section class="hero">
                <img class="thumb hidden-xs" src="{{ data.article_data.main_banner }}"/>
                <img class="thumb visible-xs" src="{{ data.article_data.top_banner_mobile??'' }}"/>
            </section>
        {% endif %}
    {% endif %}


    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <article class="main-article">
                    <header>
                        {% for item in data.breadcumb_list??[] %}
                            <a href="{{ item.link??'#breadcumb' }}">
                                {{ item.title??'...' }}
                            </a>
                        {% endfor %}
                        <h2 class="heading">{{ data.article_data.title??'...' }}</h2>
                    </header>
                    {% if (data.article_data.category_list??[])|length > 0 %}
                        <div class="cat-time">
                            <h6>
                                {% for item in data.article_data.category_list??[] %}
                                    {% if item.image %}
                                        <img src="{{ item.image }}" />
                                    {%  endif %}
                                    <a href="{{ item.link??'#link' }}">
                                        <span>{{ item.name??'...' }}</span>
                                    </a>
                                {% endfor %}
                            </h6>
                        </div>
                    {% endif %}
                    <div class="content">
                        {{ (data.article_data.body??'...')|raw }}
                    </div>
                    <div class="social">
                        <span>Share:</span>
                        <ul>
                            {% if data.article_data.social_link_list.fb_link??false %}
                                <li>
                                    <a href="{{ data.article_data.social_link_list.fb_link }}" target="_blank">
                                        <i class="icon icon-share-facebook"></i>
                                    </a>
                                </li>
                            {% endif %}
                            {% if data.article_data.social_link_list.tw_link??false %}
                                <li>
                                    <a href="{{ data.article_data.social_link_list.tw_link }}" target="_blank">
                                        <i class="icon icon-share-twitter"></i>
                                    </a>
                                </li>
                            {% endif %}
                            {% if data.article_data.social_link_list.mail_link??false %}
                                <li>
                                    <a href="{{ data.article_data.social_link_list.mail_link }}">
                                        <i class="icon icon-share-mail"></i>
                                    </a>
                                </li>
                            {% endif %}
                            {% if data.article_data.social_link_list.whatsapp_link??false %}
                                <li class="visible-xs-inline-block visible-xs">
                                    <a href="{{ data.article_data.social_link_list.whatsapp_link }}">
                                        <i class="icon icon-share-whatsapp"></i>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </article>
                {% if data.article_data.related_article_list|length > 0 %}
                    <section class="relative-article">
                        <header>
                            <h2 class="head">Related Articles</h2>
                        </header>
                        <div>
                            {% for item in data.article_data.related_article_list??[] %}
                                <article {% if item.video_link??false %}class="video"{% endif %}>
                                    {% if item.thumb %}
                                        <figure>
                                            {% if item.video_link??false %}
                                                <a href="{{ item.link??'#link' }}" class="js-modal-view" data-target="#modal" data-type="video" data-url="{{ item.video_link??'' }}">
                                                    <img src="{{ item.thumb??(base_path ~ directory ~ '/assets/images/dummy/article-thumb-1.jpg') }}"/>
                                                </a>
                                            {% else %}
                                                <a href="{{ item.link??'#link' }}">
                                                    <img src="{{ item.thumb??(base_path ~ directory ~ '/assets/images/dummy/article-thumb-1.jpg') }}"/>
                                                </a>
                                            {% endif %}
                                        </figure>
                                    {% else %}
                                        <a href="{{ item.link??'#link' }}">
                                            <img src="{{ (base_path ~ directory ~ '/assets/images/dummy/article-thumb-1.jpg') }}"/>
                                        </a>
                                    {% endif %}
                                    <div class="info">
                                        <a href="{{ item.link??'#link' }}">
                                            <h3 class="title">
                                                {{ item.title??'...' }}
                                            </h3>
                                        </a>
                                        {% if item.category_list|length > 0 %}
                                            <h6 class="cat">
                                                {% for item2 in item.category_list??[] %}
                                                    {% if item2.image %}
                                                        <img src="{{ item2.image }}" />
                                                    {%  endif %}
                                                    <a href="{{ item2.link??'#' }}">
                                                        <span>{{ item2.name }}</span>
                                                    </a>
                                                {% endfor %}
                                            </h6>
                                        {% endif %}
                                    </div>
                                </article>
                            {% endfor %}
                        </div>
                    </section>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<script>
    var __actived_menu_link = '{{ data.actived_menu_link??'' }}';
</script>