{#
- data (object)
    -
    - home_data (object)
        - article_block (object)
            - item_list (array)
                - title
                - summary
                - thumb


#}
{{ attach_library('btw2017/btw-home-page') }}
<div class="page page-home">
    {% if data.top_banner.video %}
        <section class="hero video">
            <img class="thumb hidden-xs" src="{{ data.top_banner.image ?? (base_path ~ directory ~ '/assets/images/dummy/home-hero.jpg') }}"/>
            <img class="thumb visible-xs" src="{{ data.top_banner.image_mobile??'' }}"/>
            <a class="link js-modal-view" href="javascript:void(0);" data-target="#modal" data-type="video" data-url="{{ data.top_banner.video??'...' }}">
            <span class="hero-info">
                <h1>{{ data.top_banner.title??'...' }}</h1>
                <h3>{{ data.subtitle ?? '' }}</h3>
                <i class="icon icon-play hidden-xs"></i>
                <i class="icon icon-play-mobile visible-xs-inline-block"></i>
            </span>
            </a>
        </section>
    {% else %}
        <section class="hero">
            <img class="thumb hidden-xs" src="{{ data.top_banner.image ?? (base_path ~ directory ~ '/assets/images/dummy/home-hero.jpg') }}"/>
            <img class="thumb visible-xs" src="{{ data.top_banner.image_mobile??'' }}"/>
            <a class="link" href="javascript:void(0);">
                <span class="hero-info">
                    <h1>{{ data.top_banner.title??'...' }}</h1>
                    <h3>{{ data.subtitle ?? '' }}</h3>
                </span>
            </a>
        </section>
    {% endif %}
    {% if (data.adventure_block.item_list??[])|length > 0 %}
        <section class="plan">
            <header>
              <div class="container">
                <div class="row">
                  <div class="col-xs-12">
                    <h2 class="heading">{{ data.adventure_block.title??'...' }}</h2>
                    <p class="desc">{{ data.adventure_block.summary??'...' }}</p>
                  </div>
                </div>
              </div>
            </header>
            <div class="list">
                {% for item in data.adventure_block.item_list??[] %}
                    <article class="{{ item.class??'' }}">
                        <a href="{{ item.link??'#link' }}">
                            <figure>
                                <img src="{{ item.thumb??(base_path ~ directory ~ '/assets/images/dummy/plan-img-1.jpg') }}"/>
                            </figure>
                            <figcaption>
                                <h3>{{ item.title??'...' }}</h3>
                            </figcaption>
                        </a>
                    </article>
                {% endfor %}
            </div>
        </section>
    {% endif %}
    {% if (data.article_block.item_list??[])|length > 0 %}
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <section class="relative-article">
                        <header>
                            <h2 class="head">{{ data.article_block.title }}</h2>
                        </header>
                        <div>
                            {% for item in data.article_block.item_list??[] %}
                                <article {% if item.video_link??false %}class="video"{% endif %}>
                                    <figure>
                                        {% if item.video_link??false %}
                                            <a href="{{ item.link??'#link' }}" class="js-modal-view" data-target="#modal" data-type="video" data-url="{{ item.video_link??'' }}">
                                                <img src="{{ item.thumb??(base_path ~ directory ~ '/assets/images/dummy/article-thumb-1.jpg') }}"/>
                                            </a>
                                        {% else %}
                                            <a href="{{ item.link??'#link' }}">
                                                <img src="{{ item.thumb??(base_path ~ directory ~ '/assets/images/dummy/article-thumb-1.jpg') }}"/>
                                            </a>
                                        {% endif %}
                                    </figure>
                                    <div class="info">
                                        <a href="{{ item.link??'#link' }}">
                                            <h3 class="title">
                                                {{ item.title??'...' }}
                                            </h3>
                                        </a>
                                        {% if (item.category_list??[]) %}
                                            <h6 class="cat">
                                                {% for item2 in item.category_list??[] %}
                                                    {% if item2.image %}
                                                        <img src="{{ item2.image }}" />
                                                    {%  endif %}
                                                    <a href="{{ item2.link??'#link' }}">
                                                        <span>{{ item2.name??'...' }}</span>
                                                    </a>
                                                {% endfor %}
                                            </h6>
                                        {% else %}
                                            <h6 class="cat">
                                                <i class="icon icon-todo-yellow"></i>
                                                <a href="javascript:void(0);">
                                                    <span>&nbsp;</span>
                                                </a>
                                            </h6>
                                        {% endif %}
                                    </div>
                                </article>
                            {% endfor %}
                        </div>
                    </section>
                </div>
            </div>
        </div>
    {% endif %}
    {% if data.bottom_banner is not empty %}
        {% if data.bottom_banner.video %}
            <section class="hero video">
                <img class="thumb"
                     src="{{ data.bottom_banner.image ?? (base_path ~ directory ~ '/assets/images/dummy/home-banner.jpg') }}"/>
                <a class="link js-modal-view" href="javascript:void(0);" data-target="#modal" data-type="video"
                   data-url="{{ data.bottom_banner.video??'...' }}">
                <span class="hero-info">
                    <i class="icon icon-play hidden-xs"></i>
                    <i class="icon icon-play-mobile visible-xs-inline-block"></i>
                </span>
                </a>
            </section>
        {% else %}
            <section class="hero">
                <img class="thumb"
                     src="{{ data.bottom_banner.image ?? (base_path ~ directory ~ '/assets/images/dummy/home-banner.jpg') }}"/>
            </section>
        {% endif %}
    {% endif %}
</div>
