<footer id="footer" class="tg-haslayout">
  <div class="four-columns haslayout">
    <div class="container">
      <div class=" row">
        <div class="col-md-4 col-sm-6 col-xs-6 width-footercol">
          <div class="col aboutus"> <strong class="logo"> <a href="index.html"><img src="{{ params.log_site }}" alt="image description"></a> </strong>
            <div class="tg-description">
              <p>{{ params.eco_footer_summary | raw }}</p>
            </div>
            <ul class="tg-socialicon">
              <li><a href="{{ params.eco_fb_social }}"><i class="fa fa-facebook-f"></i></a></li>
              <li><a href="{{ params.eco_google_social }}"><i class="fa fa-twitter"></i></a></li>
              <li><a href="{{ params.eco_twitter_social }}"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6 width-footercol">
          <div class="col tg-recent-post">
            <div class="tg-heading-border">
              <h3>{{ 'THE OFFICE' | t}}</h3>
            </div>
            <div class="tg-description">
              <p>{{ params.contact_address }}</p>
            </div>
            <ul>
              <li> 
                <div class="row">
                  <div class="col-md-12">{{ 'Tel' | t  }} : {{ params.contact_phone }}</div>
                </div>
              </li>
              <li> 
                <div class="row">
                  <div class="col-md-12">{{ 'Fax' | t  }} : {{ params.contact_fax }}</div>
                </div>
              </li>
              <li> 
                <div class="row">
                  <div class="col-md-12">{{ 'Email' | t  }} : {{ params.contact_email }}</div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6 width-footercol">
          <div class="col tg-recent-post">
            <div class="tg-heading-border">
              <h3>{{ 'WORKING HOURS' | t}}</h3>
            </div>
            <div class="tg-description">
              <p>{{ params.contact_address }}</p>
            </div>
            <ul>
              <li> 
                <div class="row">
                  <div class="col-md-12">{{ 'Call us' | t  }} : {{ params.contact_phone }}</div>
                </div>
              </li>
              <li> 
                <div class="row">
                  <div class="col-md-12">{{ 'Email us' | t  }} : {{ params.contact_email }}</div>
                </div>
              </li>
              <li> 
                <div class="row">
                  <div class="col-md-12">{{ 'Working time' | t  }} : {{ params.working_time }}</div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-bar haslayout">
    <div class="container">
      <div class="copyright">
        <p> {{ params.slogan_footer }} </p>
      </div>
    </div>
  </div>
</footer>