<footer id="footer" class="tg-haslayout">
  <div class="four-columns haslayout">
    <div class="container">
      <div class=" row">
        <div class="col-md-3 col-sm-6 col-xs-6 width-footercol">
          <div class="col aboutus"> <strong class="logo"> <a href="index.html"><img src="/{{ directory }}/images/logo2.png" alt="image description"></a> </strong>
            <div class="tg-description">
              <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolorin.</p>
            </div>
            <ul class="tg-socialicon">
              <li><a href="{{ params.eco_fb_social }}"><i class="fa fa-facebook-f"></i></a></li>
              <li><a href="{{ params.eco_google_social }}"><i class="fa fa-twitter"></i></a></li>
              <li><a href="{{ params.eco_twitter_social }}"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 width-footercol">
          <div class="col tg-recent-post">
            <div class="tg-heading-border">
              <h3>{{ 'THE OFFICE' | t}}</h3>
            </div>
            <div class="tg-description">
              <p>{{ params.contact_address }}</p>
            </div>
            <ul>
              <li> 
                <div class="row">
                  <div class="col-md-3">{{ 'Tel' | t  }} : </div>
                  <div class="col-md-9">{{ params.contact_phone }}</div>
                </div>
              </li>
              <li> 
                <div class="row">
                  <div class="col-md-3">{{ 'Fax' | t  }} : </div>
                  <div class="col-md-9">{{ params.contact_fax }}</div>
                </div>
              </li>
              <li> 
                <div class="row">
                  <div class="col-md-3">{{ 'Email' | t  }} : </div>
                  <div class="col-md-9">{{ params.contact_email }}</div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6 width-footercol">
          <div class="col tg-recent-post">
            <div class="tg-heading-border">
              <h3>{{ 'WORKING HOURS' | t}}</h3>
            </div>
            <ul>
              <li> 
                <div class="row">
                  <div class="col-md-4">{{ 'Call us' | t  }} : </div>
                  <div class="col-md-8">{{ params.contact_phone }}</div>
                </div>
              </li>
              <li> 
                <div class="row">
                  <div class="col-md-4">{{ 'Email us' | t  }} : </div>
                  <div class="col-md-8">{{ params.contact_email }}</div>
                </div>
              </li>
              <li> 
                <div class="row">
                  <div class="col-md-4">{{ 'Working time' | t  }} : </div>
                  <div class="col-md-8">{{ params.working_time }}</div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-bar haslayout">
    <div class="container">
      <div class="copyright">
        <p> {{ params.slogan_footer }} </p>
      </div>
    </div>
  </div>
</footer>