<!--************************************
    Footer Start
*************************************-->
<footer id="footer" class="tg-haslayout">
  <div class="four-columns haslayout">
    <div class="container">
      <div class=" row">
        <div class="col-md-3 col-sm-6 col-xs-6 width-footercol">
          <div class="col aboutus"> <strong class="logo"> <a href="index.html"><img src="/{{ directory }}/images/logo2.png" alt="image description"></a> </strong>
            <div class="tg-description">
              <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolorin.</p>
            </div>
            <ul class="tg-socialicon">
              <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 width-footercol">
          <div class="col tg-recent-post">
            <div class="tg-heading-border">
              <h3>Recent Posts</h3>
            </div>
            <ul>
              <li> <a href="#">
                <p>Corem ipsum dolor sit amet</p>
                <p>04 February 2015</p>
                </a> </li>
              <li> <a href="#">
                <p>Mirum est notare quam littera gothica</p>
                <p>04 February 2015</p>
                </a> </li>
              <li> <a href="#">
                <p>Duis autem vel eum iriure</p>
                <p>04 February 2015</p>
                </a> </li>
            </ul>
          </div>
        </div>s
        <div class="col-md-3 col-sm-6 col-xs-6 width-footercol">
          <div class="col tg-flicker">
            <div class="tg-heading-border">
              <h3>Flickr Stream</h3>
            </div>
            <ul>
              <li> <a href="/{{ directory }}/images/thumbs/thumb-04.jpg" data-rel="prettyPhoto[flickr]"><img src="/{{ directory }}/images/thumbs/thumb-04.jpg" alt="image description"></a> </li>
              <li> <a href="/{{ directory }}/images/thumbs/thumb-05.jpg" data-rel="prettyPhoto[flickr]"><img src="/{{ directory }}/images/thumbs/thumb-05.jpg" alt="image description"></a> </li>
              <li> <a href="/{{ directory }}/images/thumbs/thumb-06.jpg" data-rel="prettyPhoto[flickr]"><img src="/{{ directory }}/images/thumbs/thumb-06.jpg" alt="image description"></a> </li>
              <li> <a href="/{{ directory }}/images/thumbs/thumb-07.jpg" data-rel="prettyPhoto[flickr]"><img src="/{{ directory }}/images/thumbs/thumb-07.jpg" alt="image description"></a> </li>
              <li> <a href="/{{ directory }}/images/thumbs/thumb-08.jpg" data-rel="prettyPhoto[flickr]"><img src="/{{ directory }}/images/thumbs/thumb-08.jpg" alt="image description"></a> </li>
              <li> <a href="/{{ directory }}/images/thumbs/thumb-09.jpg" data-rel="prettyPhoto[flickr]"><img src="/{{ directory }}/images/thumbs/thumb-09.jpg" alt="image description"></a> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-bar haslayout">
    <div class="container">
      <div class="copyright">
        <p>&copy; 2015 | All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>
<!--************************************
    Footer End
*************************************-->
