<header id="header" class="tg-header tg-haslayout">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <strong class="logo">
          <a href="index.html"> <img src="{{ params.log_site }}" alt="image description"></a>
        </strong>
        <div class="tg-rightarea">
          <nav id="tg-nav" class="tg-nav">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              {% if params.top_menu is not empty %}
              <ul class="navbar-right">
                {% for parent in params.top_menu %}
                <li><a href="{{ parent.url }}">{{ parent.name }}</a>
                  {% if parent.child is not empty %}
                  <ul>
                    {% for child in parent.child %}
                    <li><a href="{{ child.url }}">{{ child.name }}</a></li>
                    {% endfor %}
                  </ul>
                  {% endif %}
                </li>
                {% endfor %}
              </ul>
              {% endif %}
            </div>
          </nav>
          <nav id="tg-addnav" class="tg-addnav tg-search-cart">
            <ul>
              <li class="search-area">
                <div class="tg-search dropdown">
                  <a href="#" id="tg-search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-search"></i></a>
                  <div class="dropdown-menu" aria-labelledby="tg-search">
                    <form class="form-search">
                      <fieldset>
                        <input type="search" class="form-control" placeholder="Search">
                      </fieldset>
                    </form>
                  </div>
                </div>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>

{% if not params.is_front_page %}

  {% include directory ~ '/templates/block/banner/article_banner.html.twig' %}

{% endif %}

