<main id="main" class="tg-haslayout">
  <div class="tg-main-section tg-haslayout tg-backgroundwhite">
    <div class="container">
      <div class="row">
        <div id="tg-twocolumns" class="tg-blog-detail tg-haslayout">
          <div class="tg-blog-image tg-haslayout">
            <div class="col-sm-12">
            <figure>
              <img src="{{ node.field_image.entity.uri.value | image_style('article_thumb') }}" alt="image dexcription">
            </figure>
          </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="tg-post-head">
                  <div class="left-box">
                    <div class="tg-heading-border">
                      <h3><a href="#">{{ node.getTitle }}</a></h3>
                    </div>
                  </div>
                </div>
                <div class="tg-post-content tg-haslayout">

                  <div class="tg-description">
                    {{ node.body.value|raw }}
                  </div>
                </div>
              </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 pull-right">
              <aside id="tg-shop-sidebar" class="tg-shop-sidebar">
                <div class="tg-widget widget-brands">
                  {% if another_nodes_data is not empty %}
                  <div class="tg-widget-holder">
                    <h3>{{ 'Home' | t }}</h3>
                    <ul>
                      {% for data in another_nodes_data %}
                      <li>
                        <a href="{{ data.url }}" title="{{ data.title }}">
                          <em>{{ data.title }}</em>
                        </a>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                  {% endif %}
                </div>
              </aside>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
