<main id="main" class="tg-haslayout tg-backgroundwhite">

  <div class="tg-main-section tg-haslayout">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
          <div class="tg-section-head">
            <h2>{{ 'get social with us' | t }}</h2>
            <div class="tg-description">
              <p>{{ 'Contact for us through social network' | t }}</p>
            </div>
          </div>
        </div>
        <ul class="tg-socialicon big-icons tg-haslayout">
          <li>
            <a href="{{ params.eco_fb_social }}">
              <i class="fa fa-facebook-f"></i>
            </a>
          </li>
          <li>
            <a href="{{ params.eco_google_social }}">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="{{ params.eco_twitter_social }}">
              <i class="fa fa-google-plus"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="tg-main-section tg-haslayout tg-bggray">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
          <div class="tg-section-head">
            <h2>{{ 'Send us a message' | t }}</h2>
            <div class="tg-description">
              <p>{{ 'Contact for us through form below' | t }}</p>
            </div>
          </div>
        </div>
    
        <div class="col-xs-12">
          <div class="row">
            <form{{ attributes }}>
              <fieldset>
                <div class="col-sm-12">
                  <div class="form-group data-error-msg">
                    
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <i class="fa fa-user"></i>
                    {{ form.fullname }}
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <i class="fa fa-envelope"></i>
                    {{ form.phone }}
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <i class="fa fa-globe"></i>
                    {{ form.email }}
                  </div>
                </div>
                <div class="col-xs-12">
                  <div class="form-group">
                    <i class="fa fa-paper-plane"></i>
                    {{ form.message }}
                  </div>
                </div>
                <div class="col-xs-12">
                  {{ form.actions.submit }}
                </div>
              </fieldset>
              {{ form.form_build_id }}
              {{ form.form_token }}
              {{ form.form_id }}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tg-main-section tg-haslayout tg-backgroundwhite">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div id="storelocator" class="tg-haslayout">
              <header class="tg-haslayout">
                <!--<div class="po-storesearch pull-right">
                  <form id="bh-sl-user-location" class="form-inline" method="post" action="#">
                    <input  type="text" id="bh-sl-address" name="bh-sl-address" />
                    <button class="po-bgcolor" type="submit"><i class="fa fa-search"></i></button>
                  </form>
                </div>-->
                <div class="pull-left">
                  <h2><i class="fa fa-globe"></i>{{ 'Localtion company' | t}}</h2>
                </div>
              </header>
              <div id="map-container" class="tg-haslayout">
                <div id="map-results-container" class="tg-haslayout">
                  <div class="col-md-3 col-sm-5 col-xs-12">
                    <div class="bh-sl-loc-list" id="storelist">
                      <ul class="list list-unstyled"></ul>
                    </div>
                  </div>
                  <div class="col-md-9 col-sm-7 col-xs-12">
                    <div id="bh-sl-map" class="bh-sl-map"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</main>

<script type="text/javascript">
  var path_map = '/{{ directory }}/';
</script>
