{% if params.home_sliders is not empty %}
<div id="tg-home-slider" class="tg-home-slider tg-haslayout" style="background:url({{ params.home_banner_url }}) no-repeat 50% 100%;">
  {% for item in params.home_sliders %}
  <div class="item">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-xs-12">
          <div class="row">
            <div class="col-sm-5 col-xs-5 tg-verticalmiddle">
              <img class="floating" src="{{ item.image.thumbnail }}" alt="image description">
            </div>
            <div class="col-sm-7 col-xs-7 tg-verticalmiddle tg-sliderwidth">
              <div class="tg-banner-content">
                <h1>{{ item.title }}</h1>
                <span>{{ item.summary }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}

<main id="main" class="tg-haslayout">
  {% if params.why_choose_us %}
  <section class="tg-main-section tg-haslayout">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
          <div class="tg-section-head">
            <h2> {{ params.why_choose_us.title }} </h2>
            <div class="tg-description">
              <p>{{ params.why_choose_us.summary }}</p>
            </div>
          </div>
        </div>
        {% if params.why_choose_us.choose_us_box is not empty %}
        <div class="tg-whychoiceus tg-haslayout">
          {% for key,item in params.why_choose_us.choose_us_box %}
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <div class="tg-theme-hover tg-border">
              {% if key%2 != 0 %}
              <div class="tg-hover-box">
                <div class="tg-hover-content">
                  <div class="tg-displaytable">
                    <div class="tg-displaytablecell">
                      <div class="tg-heading-border">
                        <h3>{{ item.title }}</h3>
                      </div>
                      <div class="tg-description">
                        <p>{{ item.summary }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <figure>
                <img src="{{ item.image.thumbnail }}" alt="image description">
                <figcaption class="fig-hover">
                  <a href="{{ item.link }}" class="anchor-top">
                    <i class="fa fa-recycle"></i>
                  </a>
                  <a href="{{ item.link }}" class="anchor-bottom">
                    <i class="fa fa-angle-right"></i>
                  </a>
                </figcaption>
              </figure>

              {% else %}

              <figure>
                <img src="{{ item.image.thumbnail }}" alt="image description">
                <figcaption class="fig-hover">
                  <a href="{{ item.link }}" class="anchor-top">
                    <i class="fa fa-recycle"></i>
                  </a>
                  <a href="{{ item.link }}" class="anchor-bottom">
                    <i class="fa fa-angle-right"></i>
                  </a>
                </figcaption>
              </figure>
              <div class="tg-hover-box">
                <div class="tg-hover-content">
                  <div class="tg-displaytable">
                    <div class="tg-displaytablecell">
                      <div class="tg-heading-border">
                        <h3>{{ item.title }}</h3>
                      </div>
                      <div class="tg-description">
                        <p>{{ item.summary }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
  </section>
  {% endif %}

  {% if params.improve_your_life %}
  <section class="lifestyle-area tg-main-section tg-haslayout">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
          <div class="tg-section-head">
            <h2>{{ params.improve_your_life.title }}</h2>
            <div class="tg-description">
              <p>{{ params.improve_your_life.summary }}</p>
            </div>
          </div>
        </div>
        <div class="tg-improvelifestyle tg-haslayout" style="background: url({{ params.improve_your_life.image.thumbnail }}) no-repeat 0 0;">
        {% if params.improve_your_life.images_your_life_box is not empty %}
          {% for key,item in params.improve_your_life.images_your_life_box %}
          <div class="col-sm-4">
            <div class="tg-box">
              <a href="{{ item.link }}">
                <div class="tg-improve-box">
                  <div class="tg-improve-holder">
                    <figure> <img src="{{ item.image.thumbnail }}" alt="image description"> </figure>
                    <div class="tg-improve-content">
                      <div class="tg-displaytable">
                        <div class="tg-displaytablecell">
                          <div class="tg-heading-border tg-borderwhite"> <i class="fa fa-recycle"></i> </div>
                          <h3>{{ item.title }}</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </a>  
            </div>
          </div>
          {% endfor %}
        {% endif %}
        </div>
      </div>
    </div>
  </section>
  {% endif %}

  {% if params.project_categories is not empty %}
  <section class="tg-main-section tg-haslayout bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
          <div class="tg-section-head">
            <div class="tg-heading">
              <h2>{{ params.title_box_project }}</h2>
            </div>
            <div class="tg-description">
              <p>{{ params.des_box_project }}</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="tg-portfolio tg-haslayout">
            <div class="tg-portfolio-head tg-haslayout">
              <nav class="tg-nav">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                  <ul id="tg-filterbale-nav" class="option-set">
                    <li class="current-menu-item"><a data-filter="*" href="#">{{ 'All' | t }}</a></li>
                    {% for category in params.project_categories %}
                    <li><a data-filter=".{{ 'category-' ~ category.tid }}" href="#">{{ category.name }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
              </nav>
            </div>
            <div class="clearfix"></div>
            <div class=" row">
              <div id="filter-masonry" class="tg-portfolio-content tg-haslayout">
                {% for project in params.arr_projects %}
                <div class="masonry-grid {{ 'category-' ~ project.category_id }}">
                  <div class="tg-project tg-border">
                    <figure> <img src="{{ project.image.thumbnail }}" alt="image description" class="{# project.height #}"> </figure>
                    <a href="{{ project.url }}" title="{{ project.title }}">
                      <div class="tg-portfolio-hover">
                        <!--<a class="anchor-bottom" href=""><i class="fa fa-search"></i>-->
                      </div>
                    </a>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endif %}

  <section class="tg-main-section tg-bgbuynow tg-haslayout ">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="tg-buynowbox">
            <h3>{{ params.home_slogan }}</h3>
        </div>
      </div>
    </div>
  </section>

  {% if params.articles_news_latest is not empty %}            
  <section class="tg-main-section tg-haslayout">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
          <div class="tg-section-head">
            <h2>{{ params.title_box_news }}</h2>
            <!--<div class="tg-description">
              <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minimiam uis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>-->
          </div>
        </div>
        <div class="tg-posts tg-haslayout">
          {% for item in params.articles_news_latest %}
          <div class="col-md-6 col-sm-6 col-xs-12">
            <article class="tg-post">
              <figure class="tg-post-img">
                <a href="{{ item.url }}"><img src="{{ item.image.thumbnail }}" alt="member name"></a>
                <figcaption class="fig-hover">
                  <a class="anchor-bottom" href="{{ item.url }}"><i class="fa fa-angle-right"></i></a>
                </figcaption>
              </figure>
                <div class="tg-post-area">
                <div class="tg-post-hover tg-border">
                  <div class="tg-post-data tg-haslayout">
                  <div class="tg-heading-border">
                    <h3><a href="{{ item.url }}">{{ item.title }}</a></h3>
                  </div>
                  <div class="tg-description">
                    <p>{{ item.description }}</p>
                  </div>
                  </div>
                </div>
              </div>
            </article>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  {% endif %}

</main>
