{% if params.home_sliders is not empty %}
<div id="tg-home-slider" class="tg-home-slider tg-haslayout" style="background:url({{ params.home_banner_url }}) no-repeat 50% 100%;">
  {% for data in params.home_sliders %}
  <div class="item">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-xs-12">
          <div class="row">
            <div class="col-sm-5 col-xs-5 tg-verticalmiddle">
              <img class="floating" src="{{ data.image.thumbnail }}" alt="image description">
            </div>
            <div class="col-sm-7 col-xs-7 tg-verticalmiddle tg-sliderwidth">
              <div class="tg-banner-content">
                <h1>{{ data.title }}</h1>
                <span>{{ data.summary }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}

<main id="main" class="tg-haslayout">
  <section class="tg-main-section tg-haslayout">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
          <div class="tg-section-head">
            <h2>why choose us</h2>
            <div class="tg-description">
              <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minimiam uis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
        </div>
        <div class="tg-whychoiceus tg-haslayout">
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <div class="tg-theme-hover tg-border">
              <figure>
                <img src="/{{ directory }}/images/img-01.jpg" alt="image description">
                <figcaption class="fig-hover">
                  <a href="#" class="anchor-top">
                    <i class="fa fa-recycle"></i>
                  </a>
                  <a href="#" class="anchor-bottom">
                    <i class="fa fa-angle-right"></i>
                  </a>
                </figcaption>
              </figure>
              <div class="tg-hover-box">
                <div class="tg-hover-content">
                  <div class="tg-displaytable">
                    <div class="tg-displaytablecell">
                      <div class="tg-heading-border">
                        <h3>recycling systems</h3>
                      </div>
                      <div class="tg-description">
                        <p>Lorem ipsum dolor sit ametuar adipisicing elit sed dot.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <div class="tg-theme-hover tg-border">
              <div class="tg-hover-box">
                <div class="tg-hover-content">
                  <div class="tg-displaytable">
                    <div class="tg-displaytablecell">
                      <div class="tg-heading-border">
                        <h3>Eco Consultancy</h3>
                      </div>
                      <div class="tg-description">
                        <p>Lorem ipsum dolor sit ametuar adipisicing elit sed dot.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <figure>
                <img src="/{{ directory }}/images/img-02.jpg" alt="image description">
                <figcaption class="fig-hover">
                  <a href="#" class="anchor-top">
                    <i class="fa fa-recycle"></i>
                  </a>
                  <a href="#" class="anchor-bottom">
                    <i class="fa fa-angle-right"></i>
                  </a>
                </figcaption>
              </figure>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <div class="tg-theme-hover tg-border">
              <figure>
                <img src="/{{ directory }}/images/img-03.jpg" alt="image description">
                <figcaption class="fig-hover">
                  <a href="#" class="anchor-top">
                    <i class="fa fa-recycle"></i>
                  </a>
                  <a href="#" class="anchor-bottom">
                    <i class="fa fa-angle-right"></i>
                  </a>
                </figcaption>
              </figure>
              <div class="tg-hover-box">
                <div class="tg-hover-content">
                  <div class="tg-displaytable">
                    <div class="tg-displaytablecell">
                      <div class="tg-heading-border">
                        <h3>renewable energy</h3>
                      </div>
                      <div class="tg-description">
                        <p>Lorem ipsum dolor sit ametuar adipisicing elit sed dot.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="lifestyle-area tg-main-section tg-haslayout">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
          <div class="tg-section-head">
            <h2>improve your lifestyle</h2>
            <div class="tg-description">
              <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minimiam uis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
        </div>
        <div class="tg-improvelifestyle tg-haslayout">
          <div class="col-sm-4">
            <div class="tg-box">
              <div class="tg-improve-box">
                <div class="tg-improve-holder">
                  <figure> <img src="/{{ directory }}/images/img-05.jpg" alt="image description"> </figure>
                  <div class="tg-improve-content">
                    <div class="tg-displaytable">
                      <div class="tg-displaytablecell">
                        <div class="tg-heading-border tg-borderwhite"> <i class="fa fa-recycle"></i> </div>
                        <h3>Recycling</h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="tg-box">
              <div class="tg-improve-box">
                <div class="tg-improve-holder">
                  <figure> <img src="/{{ directory }}/images/img-05.jpg" alt="image description"> </figure>
                  <div class="tg-improve-content">
                    <div class="tg-displaytable">
                      <div class="tg-displaytablecell">
                        <div class="tg-heading-border tg-borderwhite"> <i class="fa fa-leaf"></i> </div>
                        <h3>dust free life</h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="tg-box">
              <div class="tg-improve-box">
                <div class="tg-improve-holder">
                  <figure> <img src="/{{ directory }}/images/img-05.jpg" alt="image description"> </figure>
                  <div class="tg-improve-content">
                    <div class="tg-displaytable">
                      <div class="tg-displaytablecell">
                        <div class="tg-heading-border tg-borderwhite"> <i class="fa fa-leaf"></i> </div>
                        <h3>dust free life</h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% if params.project_categories is not empty %}
  <section class="tg-main-section tg-haslayout bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
          <div class="tg-section-head">
            <div class="tg-heading">
              <h2>Our Recent Work</h2>
            </div>
            <div class="tg-description">
              <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minimiam uis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="tg-portfolio tg-haslayout">
            <div class="tg-portfolio-head tg-haslayout">
              <nav class="tg-nav">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                  <ul id="tg-filterbale-nav" class="option-set">
                    <li class="current-menu-item"><a data-filter="*" href="#">All</a></li>
                    {% for category in params.project_categories %}
                    <li><a data-filter=".{{ 'category-' ~ category.tid }}" href="#">{{ category.name }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
              </nav>
            </div>
            <div class="clearfix"></div>
            <div class=" row">
              <div id="filter-masonry" class="tg-portfolio-content tg-haslayout">
                {% for project in params.arr_projects %}
                <div class="masonry-grid {{ 'category-' ~ project.category_id }}">
                  <div class="tg-project tg-border">
                    <figure> <img src="{{ project.image.thumbnail }}" alt="image description"> </figure>
                    <div class="tg-portfolio-hover">
                      <a class="anchor-bottom" href="{{ project.url }}" data-rel="prettyPhoto[product]"><i class="fa fa-search"></i></a>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endif %}

  <section class="tg-main-section tg-bgbuynow tg-haslayout ">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="tg-buynowbox">
            <h3>consectetur adipisicing elit <strong>"sed do eiusmod tempor"</strong> incididunt.</h3>
            <a class="tg-btn" href="#">Buy Now</a> </div>
        </div>
      </div>
    </div>
  </section>
  <section class="tg-main-section tg-haslayout">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
          <div class="tg-section-head">
            <h2>Our latest blog</h2>
            <div class="tg-description">
              <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minimiam uis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
        </div>
        <div class="tg-posts tg-haslayout">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <article class="tg-post">
              <figure class="tg-post-img">
                <a href="#"><img src="/{{ directory }}/images/blog/img-01.jpg" alt="member name"></a>
                <figcaption class="fig-hover">
                  <a class="anchor-bottom" href="#"><i class="fa fa-angle-right"></i></a>
                </figcaption>
              </figure>
                <div class="tg-post-area">
                <div class="tg-post-hover tg-border">
                  <div class="tg-post-data tg-haslayout">
                  <div class="tg-heading-border">
                    <h3><a href="#">recycling systems</a></h3>
                  </div>
                  <div class="tg-description">
                    <p>Consectetuer ascing elit, sed diam nonummy ami nibh euismod tincidunt ut laoreet dolore.</p>
                  </div>
                  </div>
                </div>
                <ul class="tg-postmeta">
                    <li><a href="#">By: Admin</a></li>
                    <li><a href="#">June 27, 2016</a></li>
                    </ul>
              </div>
            </article>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <article class="tg-post">
              <figure class="tg-post-img">
                <a href="#"><img src="/{{ directory }}/images/blog/img-02.jpg" alt="member name"></a>
                <figcaption class="fig-hover">
                  <a class="anchor-bottom" href="#"><i class="fa fa-angle-right"></i></a>
                </figcaption>
              </figure>
              <div class="tg-post-area">
                <div class="tg-post-hover tg-border">
                  <div class="tg-post-data tg-haslayout">
                  <div class="tg-heading-border">
                    <h3><a href="#">recycling systems</a></h3>
                  </div>
                  <div class="tg-description">
                    <p>Consectetuer ascing elit, sed diam nonummy ami nibh euismod tincidunt ut laoreet dolore.</p>
                  </div>
                  </div>
                </div>
                <ul class="tg-postmeta">
                    <li><a href="#">By: Admin</a></li>
                    <li><a href="#">June 27, 2016</a></li>
                    </ul>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
