
<main id="main" class="tg-haslayout">
  <section class="tg-main-section tg-haslayout">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
          <div class="tg-section-head">
            <h2>why choose us</h2>
            <div class="tg-description">
              <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minimiam uis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
        </div>
        <div class="tg-whychoiceus tg-haslayout">
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <div class="tg-theme-hover tg-border">
              <figure>
                <img src="/{{ directory }}/images/img-01.jpg" alt="image description">
                <figcaption class="fig-hover">
                  <a href="#" class="anchor-top">
                    <i class="fa fa-recycle"></i>
                  </a>
                  <a href="#" class="anchor-bottom">
                    <i class="fa fa-angle-right"></i>
                  </a>
                </figcaption>
              </figure>
              <div class="tg-hover-box">
                <div class="tg-hover-content">
                  <div class="tg-displaytable">
                    <div class="tg-displaytablecell">
                      <div class="tg-heading-border">
                        <h3>recycling systems</h3>
                      </div>
                      <div class="tg-description">
                        <p>Lorem ipsum dolor sit ametuar adipisicing elit sed dot.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <div class="tg-theme-hover tg-border">
              <div class="tg-hover-box">
                <div class="tg-hover-content">
                  <div class="tg-displaytable">
                    <div class="tg-displaytablecell">
                      <div class="tg-heading-border">
                        <h3>Eco Consultancy</h3>
                      </div>
                      <div class="tg-description">
                        <p>Lorem ipsum dolor sit ametuar adipisicing elit sed dot.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <figure>
                <img src="/{{ directory }}/images/img-02.jpg" alt="image description">
                <figcaption class="fig-hover">
                  <a href="#" class="anchor-top">
                    <i class="fa fa-recycle"></i>
                  </a>
                  <a href="#" class="anchor-bottom">
                    <i class="fa fa-angle-right"></i>
                  </a>
                </figcaption>
              </figure>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <div class="tg-theme-hover tg-border">
              <figure>
                <img src="/{{ directory }}/images/img-03.jpg" alt="image description">
                <figcaption class="fig-hover">
                  <a href="#" class="anchor-top">
                    <i class="fa fa-recycle"></i>
                  </a>
                  <a href="#" class="anchor-bottom">
                    <i class="fa fa-angle-right"></i>
                  </a>
                </figcaption>
              </figure>
              <div class="tg-hover-box">
                <div class="tg-hover-content">
                  <div class="tg-displaytable">
                    <div class="tg-displaytablecell">
                      <div class="tg-heading-border">
                        <h3>renewable energy</h3>
                      </div>
                      <div class="tg-description">
                        <p>Lorem ipsum dolor sit ametuar adipisicing elit sed dot.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="lifestyle-area tg-main-section tg-haslayout">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
          <div class="tg-section-head">
            <h2>improve your lifestyle</h2>
            <div class="tg-description">
              <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minimiam uis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
        </div>
        <div class="tg-improvelifestyle tg-haslayout">
          <div class="col-sm-4">
            <div class="tg-box">
              <div class="tg-improve-box">
                <div class="tg-improve-holder">
                  <figure> <img src="/{{ directory }}/images/img-05.jpg" alt="image description"> </figure>
                  <div class="tg-improve-content">
                    <div class="tg-displaytable">
                      <div class="tg-displaytablecell">
                        <div class="tg-heading-border tg-borderwhite"> <i class="fa fa-recycle"></i> </div>
                        <h3>Recycling</h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="tg-box">
              <div class="tg-improve-box">
                <div class="tg-improve-holder">
                  <figure> <img src="/{{ directory }}/images/img-05.jpg" alt="image description"> </figure>
                  <div class="tg-improve-content">
                    <div class="tg-displaytable">
                      <div class="tg-displaytablecell">
                        <div class="tg-heading-border tg-borderwhite"> <i class="fa fa-leaf"></i> </div>
                        <h3>dust free life</h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="tg-box">
              <div class="tg-improve-box">
                <div class="tg-improve-holder">
                  <figure> <img src="/{{ directory }}/images/img-05.jpg" alt="image description"> </figure>
                  <div class="tg-improve-content">
                    <div class="tg-displaytable">
                      <div class="tg-displaytablecell">
                        <div class="tg-heading-border tg-borderwhite"> <i class="fa fa-leaf"></i> </div>
                        <h3>dust free life</h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="tg-main-section tg-haslayout">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
          <div class="tg-section-head">
            <h2>solar accessories</h2>
            <div class="tg-description">
              <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minimiam uis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
        </div>
        <div id="tg-product-slider" class="tg-products tg-haslayout">
          <div class="item">
            <div class="tg-product tg-border tg-haslayout">
              <figure> <span class="tg-sale">sale</span> <a href="#"> <img src="/{{ directory }}/images/shop/img-01.jpg" alt="image description"> </a>
                <div class="tg-product-hover">
                 <a href="#" class="anchor-top"><i class="fa fa-cart-plus"></i></a>
         <a href="#" class="anchor-right"><i class="fa fa-eye"></i></a>
                </div>
              </figure>
              <div class="tg-product-data tg-bordertop">
                <div class="tg-heading-border">
                  <h3><a href="#">Product title</a></h3>
                  <div class="tg-rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i> </div>
                </div>
                <span class="tg-product-price"> <em>$37.00</em> <del>$45.00</del> </span> </div>
            </div>
          </div>
          <div class="item">
            <div class="tg-product tg-border tg-haslayout">
              <figure> <a href="#"> <img src="/{{ directory }}/images/shop/img-02.jpg" alt="image description"> </a>
                <div class="tg-product-hover">
                 <a href="#" class="anchor-top"><i class="fa fa-cart-plus"></i></a>
         <a href="#" class="anchor-right"><i class="fa fa-eye"></i></a>
                </div>
              </figure>
              <div class="tg-product-data tg-bordertop">
                <div class="tg-heading-border">
                  <h3><a href="#">Product title</a></h3>
                  <div class="tg-rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i> </div>
                </div>
                <span class="tg-product-price"> <em>$37.00</em> <del>$45.00</del> </span> </div>
            </div>
          </div>
          <div class="item">
            <div class="tg-product tg-border tg-haslayout">
              <figure> <a href="#"><span class="tg-sale">sale</span><img src="/{{ directory }}/images/shop/img-03.jpg" alt="image description"> </a>
                <div class="tg-product-hover">
                 <a href="#" class="anchor-top"><i class="fa fa-cart-plus"></i></a>
         <a href="#" class="anchor-right"><i class="fa fa-eye"></i></a>
                </div>
              </figure>
              <div class="tg-product-data tg-bordertop">
                <div class="tg-heading-border">
                  <h3><a href="#">Product title</a></h3>
                  <div class="tg-rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i> </div>
                </div>
                <span class="tg-product-price"> <em>$37.00</em> <del>$45.00</del> </span> </div>
            </div>
          </div>
          <div class="item">
            <div class="tg-product tg-border tg-haslayout">
              <figure> <a href="#"> <img src="/{{ directory }}/images/shop/img-04.jpg" alt="image description"> </a>
                <div class="tg-product-hover">
                 <a href="#" class="anchor-top"><i class="fa fa-cart-plus"></i></a>
         <a href="#" class="anchor-right"><i class="fa fa-eye"></i></a>
                </div>
              </figure>
              <div class="tg-product-data tg-bordertop">
                <div class="tg-heading-border">
                  <h3><a href="#">Product title</a></h3>
                  <div class="tg-rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i> </div>
                </div>
                <span class="tg-product-price"> <em>$37.00</em> <del>$45.00</del> </span> </div>
            </div>
          </div>
          <div class="item">
            <div class="tg-product tg-border tg-haslayout">
              <figure> <span class="tg-sale">sale</span> <a href="#"> <img src="/{{ directory }}/images/shop/img-05.jpg" alt="image description"> </a>
                <div class="tg-product-hover">
                 <a href="#" class="anchor-top"><i class="fa fa-cart-plus"></i></a>
         <a href="#" class="anchor-right"><i class="fa fa-eye"></i></a>
                </div>
              </figure>
              <div class="tg-product-data tg-bordertop">
                <div class="tg-heading-border">
                  <h3><a href="#">Product title</a></h3>
                  <div class="tg-rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i> </div>
                </div>
                <span class="tg-product-price"> <em>$37.00</em> <del>$45.00</del> </span> </div>
            </div>
          </div>
          <div class="item">
            <div class="tg-product tg-border tg-haslayout">
              <figure> <a href="#"> <img src="/{{ directory }}/images/shop/img-06.jpg" alt="image description"> </a>
                <div class="tg-product-hover">
                 <a href="#" class="anchor-top"><i class="fa fa-cart-plus"></i></a>
         <a href="#" class="anchor-right"><i class="fa fa-eye"></i></a>
                </div>
              </figure>
              <div class="tg-product-data tg-bordertop">
                <div class="tg-heading-border">
                  <h3><a href="#">Product title</a></h3>
                  <div class="tg-rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i> </div>
                </div>
                <span class="tg-product-price"> <em>$37.00</em> <del>$45.00</del> </span> </div>
            </div>
          </div>
          <div class="item">
            <div class="tg-product tg-border tg-haslayout">
              <figure> <a href="#"> <img src="/{{ directory }}/images/shop/img-07.jpg" alt="image description"> </a>
                <div class="tg-product-hover">
                 <a href="#" class="anchor-top"><i class="fa fa-cart-plus"></i></a>
         <a href="#" class="anchor-right"><i class="fa fa-eye"></i></a>
                </div>
              </figure>
              <div class="tg-product-data tg-bordertop">
                <div class="tg-heading-border">
                  <h3><a href="#">Product title</a></h3>
                  <div class="tg-rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i> </div>
                </div>
                <span class="tg-product-price"> <em>$37.00</em> <del>$45.00</del> </span> </div>
            </div>
          </div>
          <div class="item">
            <div class="tg-product tg-border tg-haslayout">
              <figure> <a href="#"> <img src="/{{ directory }}/images/shop/img-08.jpg" alt="image description"> </a>
                <div class="tg-product-hover">
                 <a href="#" class="anchor-top"><i class="fa fa-cart-plus"></i></a>
         <a href="#" class="anchor-right"><i class="fa fa-eye"></i></a>
                </div>
              </figure>
              <div class="tg-product-data tg-bordertop">
                <div class="tg-heading-border">
                  <h3><a href="#">Product title</a></h3>
                  <div class="tg-rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i> </div>
                </div>
                <span class="tg-product-price"> <em>$37.00</em> <del>$45.00</del> </span> </div>
            </div>
          </div>
          <div class="item">
            <div class="tg-product tg-border tg-haslayout">
              <figure> <span class="tg-sale">sale</span> <a href="#"> <img src="/{{ directory }}/images/shop/img-09.jpg" alt="image description"> </a>
                <div class="tg-product-hover">
                 <a href="#" class="anchor-top"><i class="fa fa-cart-plus"></i></a>
         <a href="#" class="anchor-right"><i class="fa fa-eye"></i></a>
                </div>
              </figure>
              <div class="tg-product-data tg-bordertop">
                <div class="tg-heading-border">
                  <h3><a href="#">Product title</a></h3>
                  <div class="tg-rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-o"></i> </div>
                </div>
                <span class="tg-product-price"> <em>$37.00</em> <del>$45.00</del> </span> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="tg-main-section tg-haslayout tg-bggreen tg-padding-half">
    <div class="container">
      <div class="row">
        <div class="tg-counters">
          <div class="tg-counter">
            <div class="tg-heading-border tg-borderwhite">
              <h2><span class="tg-timer" data-from="0" data-to="6587" data-speed="8000" data-refresh-interval="50">6587</span></h2>
            </div>
            <h3>Satisfied Clients</h3>
          </div>
          <div class="tg-counter">
            <div class="tg-heading-border tg-borderwhite">
              <h2><span class="tg-timer" data-from="0" data-to="896" data-speed="8000" data-refresh-interval="50">896</span></h2>
            </div>
            <h3>Completed Projects</h3>
          </div>
          <div class="tg-counter">
            <div class="tg-heading-border tg-borderwhite">
              <h2><span class="tg-timer" data-from="0" data-to="1674" data-speed="8000" data-refresh-interval="50">1674</span></h2>
            </div>
            <h3>Likes on Average</h3>
          </div>
          <div class="tg-counter">
            <div class="tg-heading-border tg-borderwhite">
              <h2><span class="tg-timer" data-from="0" data-to="769" data-speed="8000" data-refresh-interval="50">769</span></h2>
            </div>
            <h3>We Launched</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="tg-main-section tg-haslayout bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
          <div class="tg-section-head">
      <div class="tg-heading">
              <h2>Our Recent Work</h2>
      </div>
            <div class="tg-description">
              <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minimiam uis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="tg-portfolio tg-haslayout">
            <div class="tg-portfolio-head tg-haslayout">
              <nav class="tg-nav">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                  <ul id="tg-filterbale-nav" class="option-set">
                    <li class="current-menu-item"><a data-filter="*" href="#">All</a></li>
                    <li><a data-filter=".solar" href="#">solar</a></li>
                    <li><a data-filter=".ecosystem" href="#">Ecosystem</a></li>
                    <li><a data-filter=".organic" href="#">organic</a></li>
                    <li><a data-filter=".biology" href="#">biology</a></li>
          <li><a data-filter=".organic" href="#">Recycling</a></li>
                  </ul>
                </div>
              </nav>
            </div>
            <div class="clearfix"></div>
            <div class=" row">
              <div id="filter-masonry" class="tg-portfolio-content tg-haslayout">
                <div class="masonry-grid solar">
                  <div class="tg-project tg-border">
                    <figure> <img src="/{{ directory }}/images/portfolio/img-01.jpg" alt="image description"> </figure>
                    <div class="tg-portfolio-hover">
                      <a class="anchor-bottom" href="/{{ directory }}/images/portfolio/img-01.jpg" data-rel="prettyPhoto[product]"><i class="fa fa-search"></i></a>
                    </div>
                  </div>
                </div>
                <div class="masonry-grid ecosystem">
                  <div class="tg-project tg-border">
                    <figure> <img src="/{{ directory }}/images/portfolio/img-02.jpg" alt="image description"> </figure>
                    <div class="tg-portfolio-hover">
                      <a class="anchor-bottom" href="/{{ directory }}/images/portfolio/img-02.jpg" data-rel="prettyPhoto[product]"><i class="fa fa-search"></i></a>
                    </div>
                  </div>
                </div>
                <div class="masonry-grid organic">
                  <div class="tg-project tg-border">
                    <figure> <img src="/{{ directory }}/images/portfolio/img-03.jpg" alt="image description"> </figure>
                    <div class="tg-portfolio-hover">
                      <a class="anchor-bottom" href="/{{ directory }}/images/portfolio/img-03.jpg" data-rel="prettyPhoto[product]"><i class="fa fa-search"></i></a>
                    </div>
                  </div>
                </div>
                <div class="masonry-grid biology">
                  <div class="tg-project tg-border">
                    <figure> <img src="/{{ directory }}/images/portfolio/img-04.jpg" alt="image description"> </figure>
                    <div class="tg-portfolio-hover">
                      <a class="anchor-bottom" href="/{{ directory }}/images/portfolio/img-04.jpg" data-rel="prettyPhoto[product]"><i class="fa fa-search"></i></a>
                    </div>
                  </div>
                </div>
                <div class="masonry-grid solar">
                  <div class="tg-project tg-border">
                    <figure> <img src="/{{ directory }}/images/portfolio/img-05.jpg" alt="image description"> </figure>
                    <div class="tg-portfolio-hover">
                      <a class="anchor-bottom" href="/{{ directory }}/images/portfolio/img-05.jpg" data-rel="prettyPhoto[product]"><i class="fa fa-search"></i></a>
                    </div>
                  </div>
                </div>
                <div class="masonry-grid ecosystem">
                  <div class="tg-project tg-border">
                    <figure> <img src="/{{ directory }}/images/portfolio/img-07.jpg" alt="image description"> </figure>
                    <div class="tg-portfolio-hover">
                      <a class="anchor-bottom" href="/{{ directory }}/images/portfolio/img-07.jpg" data-rel="prettyPhoto[product]"><i class="fa fa-search"></i></a>
                    </div>
                  </div>
                </div>
                <div class="masonry-grid organic">
                  <div class="tg-project tg-border">
                    <figure> <img src="/{{ directory }}/images/portfolio/img-08.jpg" alt="image description"> </figure>
                    <div class="tg-portfolio-hover">
                      <a class="anchor-bottom" href="/{{ directory }}/images/portfolio/img-08.jpg" data-rel="prettyPhoto[product]"><i class="fa fa-search"></i></a>
                    </div>
                  </div>
                </div>
                <div class="masonry-grid biology">
                  <div class="tg-project tg-border">
                    <figure> <img src="/{{ directory }}/images/portfolio/img-06.jpg" alt="image description"> </figure>
                    <div class="tg-portfolio-hover">
                      <a class="anchor-bottom" href="/{{ directory }}/images/portfolio/img-06.jpg" data-rel="prettyPhoto[product]"><i class="fa fa-search"></i></a>
                    </div>
                  </div>
                </div>
                <div class="masonry-grid solar">
                  <div class="tg-project tg-border">
                    <figure> <img src="/{{ directory }}/images/portfolio/img-09.jpg" alt="image description"> </figure>
                    <div class="tg-portfolio-hover">
                      <a class="anchor-bottom" href="/{{ directory }}/images/portfolio/img-09.jpg" data-rel="prettyPhoto[product]"><i class="fa fa-search"></i></a>
                    </div>
                  </div>
                </div>
                <div class="masonry-grid ecosystem">
                  <div class="tg-project tg-border">
                    <figure> <img src="/{{ directory }}/images/portfolio/img-10.jpg" alt="image description"> </figure>
                    <div class="tg-portfolio-hover">
                      <a class="anchor-bottom" href="/{{ directory }}/images/portfolio/img-10.jpg" data-rel="prettyPhoto[product]"><i class="fa fa-search"></i></a>
                    </div>
                  </div>
                </div>
                <div class="masonry-grid organic">
                  <div class="tg-project tg-border">
                    <figure> <img src="/{{ directory }}/images/portfolio/img-11.jpg" alt="image description"> </figure>
                    <div class="tg-portfolio-hover">
                      <a class="anchor-bottom" href="/{{ directory }}/images/portfolio/img-11.jpg" data-rel="prettyPhoto[product]"><i class="fa fa-search"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="tg-main-section tg-bgbuynow tg-haslayout ">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="tg-buynowbox">
            <h3>consectetur adipisicing elit <strong>"sed do eiusmod tempor"</strong> incididunt.</h3>
            <a class="tg-btn" href="#">Buy Now</a> </div>
        </div>
      </div>
    </div>
  </section>
  <section class="tg-main-section tg-haslayout">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
          <div class="tg-section-head">
            <h2>Our latest blog</h2>
            <div class="tg-description">
              <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minimiam uis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
        </div>
        <div class="tg-posts tg-haslayout">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <article class="tg-post">
              <figure class="tg-post-img">
                <a href="#"><img src="/{{ directory }}/images/blog/img-01.jpg" alt="member name"></a>
                <figcaption class="fig-hover">
                  <a class="anchor-bottom" href="#"><i class="fa fa-angle-right"></i></a>
                </figcaption>
              </figure>
                <div class="tg-post-area">
                <div class="tg-post-hover tg-border">
                  <div class="tg-post-data tg-haslayout">
                  <div class="tg-heading-border">
                    <h3><a href="#">recycling systems</a></h3>
                  </div>
                  <div class="tg-description">
                    <p>Consectetuer ascing elit, sed diam nonummy ami nibh euismod tincidunt ut laoreet dolore.</p>
                  </div>
                  </div>
                </div>
                <ul class="tg-postmeta">
                    <li><a href="#">By: Admin</a></li>
                    <li><a href="#">June 27, 2016</a></li>
                    </ul>
              </div>
            </article>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <article class="tg-post">
              <figure class="tg-post-img">
                <a href="#"><img src="/{{ directory }}/images/blog/img-02.jpg" alt="member name"></a>
                <figcaption class="fig-hover">
                  <a class="anchor-bottom" href="#"><i class="fa fa-angle-right"></i></a>
                </figcaption>
              </figure>
              <div class="tg-post-area">
                <div class="tg-post-hover tg-border">
                  <div class="tg-post-data tg-haslayout">
                  <div class="tg-heading-border">
                    <h3><a href="#">recycling systems</a></h3>
                  </div>
                  <div class="tg-description">
                    <p>Consectetuer ascing elit, sed diam nonummy ami nibh euismod tincidunt ut laoreet dolore.</p>
                  </div>
                  </div>
                </div>
                <ul class="tg-postmeta">
                    <li><a href="#">By: Admin</a></li>
                    <li><a href="#">June 27, 2016</a></li>
                    </ul>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
